.container {
  padding: var(--page-padding-x-mini);
  height: fit-content;

  position: relative;

  cursor: pointer;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 15px;

  transition: 0.3s;

  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.opacity {
  @media screen and (max-width: 1024px) {
    opacity: 40%;
  }
}

.prevButton,
.nextButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;

  border: none;
  background-color: var(--white);
  box-shadow: 0px 0px 15px 0px #3877ee1a;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;
  border-radius: 50%;

  cursor: pointer;

  svg {
    fill: var(--font-color-accent);
  }

  @media screen and (max-width: 1024px) {
    display: none;
  }
}

.prevButton {
  left: 20px;

  @media screen and (max-width: 1620px) {
    left: 5px;
  }
}

.nextButton {
  right: 40px;

  @media screen and (max-width: 1620px) {
    right: 10px;
  }
}
